:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --dark-green: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

html,
body {
  margin: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem;
}

.card {
  background: var(--dark-cyan);
  padding: 3rem;
  color: var(--transparent-white);
}

.card:first-child {
  background: var(--bright-orange);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card:first-child a {
  color: var(--bright-orange);
}

.card:last-child {
  background: var(--dark-green);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card:last-child a {
  color: var(--dark-green);
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: var(--light-gray);
  margin: 1.5rem 0;
}

.card-description {
  line-height: 1.5rem;
}

.card-button {
  margin: 3rem 0 1rem;
}

.card-button a:hover {
  background: transparent;
  border: 2px solid var(--light-gray);
  color: var(--light-gray);
}

.card-button a {
  background: var(--light-gray);
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  color: var(--dark-cyan);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.attribution {
  text-align: center;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  margin: 1rem 1.5rem;
}

.attribution a {
  color: var(--bright-orange);
}

@media (min-width: 769px) {
  .cards-container {
    flex-direction: row;
    max-width: 900px;
  }

  .card:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }

  .card:last-child {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
  }

  .card-button {
    margin: 5rem 0 1rem;
  }
}
